/* Sets font to cursive, aligns font center, clears any browser default margins or padding. */
*{
    font-family: cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Chain-link background */
html{
    background-image: url("../images/bgwire.jpg");
    background-repeat: repeat;
}

/* Font sizing */
h1{
    font-size: 77px;
}

/* My name in the bio section dynamically resizes to fix flexbox. */
h2{
    font-size: 3vw;
}
h3{
    font-size: 44px;
}

/* Align bio section to the left */
p{
    font-size: 1.9vw;
    text-align: left;
}

/* Formats header */
header{
    width: 100%;
    background-color: aqua;
    top: 0;
}

/* Navbar is flexbox */
nav{
    display: flex;
    width: 90%;
    margin: 0px auto 10px auto;
}

/* Formats navbar links */
nav a{
    flex: 1 1;
    font-size: 33px;
}

/* Adds left and right margins to three main sections of the page.
    Adds margins between sections. */
.chunk{
    margin: 7vw auto 0px auto;
    width: 90%;
}

/* Formats titles for three main section */
.headline{
    display: inline-block;
    text-align: center;
    background-color: aqua;
    margin-bottom: 20px;
}

/* Adds spacing above 'about' section. */
#about{
    margin-top: 1vw;
}

/* 2-item flexbox containing headshot and bio.
    It switches from flex-direction row to flex-direction column on mobile devices. */
#about-holder{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Div containting headshot */
aside{
    flex: 9;
}

/* Centers headshot within div, adds margins. */
#headshot{
    width: 90%;
    margin: 0px auto 20px auto;
}

/* Styles box containing name and bio. */
#about-box{
    background-color: aqua;
    flex: 10;
    margin: 0px auto;
    padding: min(66px,4vw);
}

/* Flex box containing project cards */ 
#card-holder{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-items:stretch;
    justify-content: center;
    margin: 0px auto;
}

/* Formats and styles project cards. These cards are themselves flexboxes */
.card{
    background-color: aqua;
    flex: 1 1 350px;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* There is also a flexbox holding the picture in the project card */
.card-pic-holder{
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* The picture itself */
.card-pic{
    width: 100%;
    flex: 0 1;
}

/* The name on the project card. It can shrink but not grow. */
.card-name{
    flex: 0 1;
}

/* Adds white drop shadow and saturates image on card hover */
.card:hover{
    filter: drop-shadow(5px 5px 5px white) saturate(4);
}

/* Makes the first card bigger */
#sconce{
    max-width: none;
    flex: 2 1 600px;
}

/* Flextbox containing the contact div */
#contact-holder{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

/* Styles contact box */
#contact-box{
    background-color: aqua;
    flex: 0 1 600px;
    font-size: 33px;
    padding: 33px;
    margin: 0px auto;
}

/* Formats list of contact methods */
ul{
    display: inline-block;
    margin: 0px auto;
}

li{
    text-align: left;
}

li::marker{
    content: '☥  ';
}

/* Fun footer */
#squiggle{
    width: min(700px, 80vw);
    margin: min(200px, 40vh) auto 20px auto;
}

/* Tablets: Two project cards per row.*/
@media screen and (max-width: 992px) {

    .card{
        flex: 1 1 250px;
    }

}
  
/* Large smartphones:  About section is below headshot. One project card per row. Resizes some fonts. */
@media screen and (max-width: 768px) {

    #about-holder{
        flex-direction: column;
        justify-content: center;
    }
    .card{
        flex: 1 1 300px;
    }
    h2{
        font-size: 5.25vw;
    }
    p{
        font-size: 3.5vw;
    }
    #contact-box{
        font-size: 27px;
    }
    
}


/* Medium Smarphones: Resizes fonts again */
@media screen and (max-width: 576px) {
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 6vw;
    }
    p{
        font-size: 4vw;
    }
    #contact-box{
        font-size: 19px;
    }
}

/* Smaller Smartphones: Resizes fonts again */
@media screen and (max-width: 375px) {
    h1{
        font-size: 49px;
    }
    nav a{
        font-size: 22px;
    }
    #contact-box{
        font-size: 14px;
    }
    p{
        font-size: 4.5vw;
    }
}

/* Folding Screens: Resizes fonts again */
@media screen and (max-width: 300px) {
    h1{
        font-size: 44px;
    }
    .card-name{
        font-size: 33px;
    }
    #contact-box{
        font-size: 13px;
    }
}